

/* Login Container */
.login-container {
  background-image: url('https://www.loliapi.com/acg/');
  background-size: cover; /* 背景图片覆盖整个容器 */
  background-position: center; /* 背景居中 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
  height: 100vh; /* 确保背景图覆盖整个页面高度 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mat Card Styling */
mat-card {
  width: auto;
  padding: 30px; /* 保持卡片的内边距 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8); /* 半透明的背景 */
  border-radius: 20px;
  margin-bottom: 20%;
}

/* Heading */
.login-container h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #000; /* 确保标题有颜色 */
}

/* Form Group */
.form-group {
  margin-bottom: 20px;
  width: 100%;
}

/* Label */
mat-label {
  font-size: 15px;
  display: block;
  margin-bottom: 8px;
}

/* Adjust mat-form-field to match input size */
mat-form-field {
  width: 100%; /* 让 mat-form-field 占据 100% 宽度 */
  font-size: 16px; /* 调整字体大小 */
  padding: 0; /* 去掉多余的内边距 */
  margin-bottom: 15px; /* 保持输入框之间的间距 */
}

/* Adjust input to match its new parent styles */
input[matInput] {
  width: 100%;
  font-size: 16px;
  padding: 3px 8px; /* 减少内边距使输入框更紧凑 */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: transparent;
  color: #000;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

/* Button */
button {
  width: 100%;
  padding: 30px; /* 增加按钮高度 */
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-sizing: border-box;
}

/* Error Message */
.error-message {
  color: #e74c3c;
  background-color: #f8d7da;
  margin-top: 10px;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

/* Hover Effect on Button */
button:hover {
  transform: translateY(-2px);
}
