<div class="app-container" *ngIf="!isLoginPage">
  <mat-sidenav-container class="sidenav-container">
    <!-- 左侧侧边栏 -->
    <mat-sidenav
      #sidenav
      class="sidenav"
      mode="side"
      [(opened)]="isSidebarOpen"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span i18n>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/torrents" routerLinkActive="active">
          <i class="fas fa-search"></i>
          <span i18n>Search Results</span>
        </a>
        <a mat-list-item routerLink="/explore" routerLinkActive="active">
          <i class="fas fa-compass"></i>
          <span i18n>Explore</span>
        </a>
        <a mat-list-item routerLink="/download" routerLinkActive="active">
          <i class="fas fa-download"></i>
          <span i18n>Download</span>
        </a>
        <a mat-list-item routerLink="/feed/actress" routerLinkActive="active">
          <i class="fas fa-heart"></i>
          <span i18n>Actress</span>
        </a>
        <a mat-list-item routerLink="/feed/movies" routerLinkActive="active">
          <i class="fas fa-film"></i>
          <span i18n>Movies</span>
        </a>
        <a mat-list-item routerLink="/setting" routerLinkActive="active">
          <i class="fas fa-cog"></i>
          <span i18n>Setting</span>
        </a>
        <a mat-list-item (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span i18n>Logout</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- 右侧主内容区 -->
    <mat-sidenav-content class="main-content">
      <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="goBack()" aria-label="Back">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="toggleSidebar()"
          aria-label="Toggle Sidebar"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <!-- <span class="toolbar-title">{{ title }}</span> -->

        <span class="spacer"></span>
        <button mat-icon-button (click)="OpenSearch()" aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-toolbar>

      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- 登录页面 -->
<div *ngIf="isLoginPage" class="login-page">
  <app-login class="background-container"></app-login>
</div>
