<h2 class="section-title">Newbie</h2>
<div class="card-grid2">
  <div
    *ngFor="let actress of avbaseIndexData?.newbie_talents"
    class="actress-card"
    (click)="cardClick(actress.primary.name)"
  >
    <img
      [src]="actress.primary.image_url || 'assets/favicon.ico'"
      [alt]="actress.primary.name"
      class="avatar-img"
      loading="lazy"
    />
    <div class="title">{{ actress.primary.name }}</div>
  </div>
</div>

<h2 class="section-title">Popular</h2>
<div class="card-grid2">
  <div
    *ngFor="let actress of avbaseIndexData?.popular_talents"
    class="actress-card"
    (click)="cardClick(actress.primary.name)"
  >
    <img
      [src]="actress.primary.image_url || 'assets/favicon.ico'"
      [alt]="actress.primary.name"
      class="avatar-img"
      loading="lazy"
    />
    <div class="title">{{ actress.primary.name }}</div>
  </div>
</div>

<h2 class="section-title">
  Released on {{ currentDate | date : "yyyy-MM-dd" }}
</h2>
<div class="pagination-buttons">
  <button mat-icon-button class="floating-button" (click)="prevDay()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button class="floating-button" (click)="nextDay()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div *ngFor="let group of releaseData" class="section">
  <h3 class="section-title">{{ group.prefixName }}</h3>

  <div class="poster-grid">
    <div
      class="poster-card"
      *ngFor="let work of group.works"
      (click)="posterClick(work.work_id)"
    >
      <div class="poster-image-wrapper">
        <img
          class="poster-image"
          [src]="work.products[0].image_url || 'assets/placeholder.jpg'"
          [alt]="work.work_id"
          loading="lazy"
        />
        <div class="overlay">
          <div class="title">{{ work.work_id }} - {{ work.title }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination-buttons">
  <button mat-icon-button class="floating-button" (click)="prevDay()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button class="floating-button" (click)="nextDay()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<!-- <h2 class="section-title">Release Today</h2>
<div class="poster-grid">
  <div
    class="poster-card"
    *ngFor="let work of avbaseIndexData?.products"
    (click)="posterClick(work.product_id)"
  >
    <div class="poster-image-wrapper">
      <img
        [src]="work.image_url || 'assets/favicon.ico'"
        [alt]="work.title"
        class="poster-image"
        loading="lazy"
      />
      <div class="overlay">
        <div class="title">{{ work.product_id }}</div>
      </div>
    </div>
  </div>
</div> -->
