<h2 class="section-title">Newbie</h2>
<div class="card-grid2">
  <div
    *ngFor="let actress of avbaseIndexData?.newbie_talents"
    class="actress-card"
    (click)="cardClick(actress.primary.name)"
  >
    <img
      [src]="actress.primary.image_url || 'assets/favicon.ico'"
      [alt]="actress.primary.name"
      class="avatar-img"
      loading="lazy"
    />
    <div class="title">{{ actress.primary.name }}</div>
  </div>
</div>

<h2 class="section-title">Popular</h2>
<div class="card-grid2">
  <div
    *ngFor="let actress of avbaseIndexData?.popular_talents"
    class="actress-card"
    (click)="cardClick(actress.primary.name)"
  >
    <img
      [src]="actress.primary.image_url || 'assets/favicon.ico'"
      [alt]="actress.primary.name"
      class="avatar-img"
      loading="lazy"
    />
    <div class="title">{{ actress.primary.name }}</div>
  </div>
</div>

<h2 class="section-title">Release Today</h2>
<div class="poster-grid">
  <div
    class="poster-card"
    *ngFor="let work of avbaseIndexData?.products"
    (click)="posterClick(work.product_id)"
  >
    <div class="poster-image-wrapper">
      <img
        [src]="work.image_url || 'assets/favicon.ico'"
        [alt]="work.title"
        class="poster-image"
        loading="lazy"
      />
      <div class="overlay">
        <div class="title">{{ work.product_id }}</div>
      </div>
    </div>
  </div>
</div>
