<div class="movie-container">
  <div class="movie-left">
    <div class="movie-title">{{ movieId }} - {{ movieData.title }}</div>

    <div class="movie-cover">
      <img
        [src]="movieData.cover_image"
        alt="Movie Cover"
        class="movie-cover-img"
      />
    </div>

    <div class="tag-and-actions">
      <div class="tag-list">
        <mat-chip-set>
          <mat-chip *ngFor="let tag of movieData.tags" class="tag">{{
            tag
          }}</mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </div>

  <div class="movie-right">
    <div class="other-info">
      <p><strong>番号：</strong>{{ movieId }}</p>
      <p><strong>发行日期：</strong>{{ movieData.release_date }}</p>
      <p><strong>制造商：</strong>{{ movieData.manufacturer }}</p>
      <p><strong>标签：</strong>{{ movieData.label }}</p>
      <p><strong>价格：</strong>{{ movieData.price }}</p>
      <p><strong>时长：</strong>{{ movieData.duration }} 分钟</p>
    </div>

    <div class="actors">
      <div *ngFor="let actor of movieData.actors" class="actor-item">
        <img
          [src]="actor.avatar"
          alt="{{ actor.name }}"
          class="actor-avatar"
          (click)="searchByActressName(actor.name)"
        />
        <div class="actor-name" (click)="searchByActressName(actor.name)">
          {{ actor.name }}
        </div>
      </div>
    </div>

    <div class="movie-actions">
      <button
        class="download-btn"
        mat-raised-button
        color="primary"
        (click)="downloadMovie()"
      >
        搜索
      </button>
      <button
        class="subscribe-btn"
        mat-raised-button
        color="accent"
        (click)="subscribeToMovie()"
      >
        订阅
      </button>
    </div>
  </div>
</div>
