.views-card {
  display: flex;
  flex-direction: column;
    /* background-color: var(--app-background); */
}

.items-grid {
  display: flex;
  gap: 12px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s;
}

.image-wrapper:hover {
  transform: translateY(-2px);
}

.item-image {
  width: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  transition: filter 0.2s;
}

.image-wrapper:hover .item-image {
  filter: brightness(50%);
}

.hover-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  opacity: 0;
}

.image-wrapper:hover .hover-name {
  opacity: 1;
}

@media (max-width: 768px) {
  .items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .item-image {
    aspect-ratio: 16 / 9;
  }
}

mat-card-header {
  padding: 16px;
}
