<mat-tab-group>
  <mat-tab label="AvBase">
            <h2 class="section-title" i18n>Newbie</h2>
    <div class="card-grid2">
      <div
        *ngFor="let actress of avbaseIndexData.newbie_talents"
        class="actress-card"
        (click)="cardClick(actress.actors[0].name)"
      >
        <img
          [src]="actress.actors[0].image_url"
          [alt]="actress.actors[0].name"
          class="avatar-img"
        />
        <div class="title">{{ actress.actors[0].name }}</div>
      </div>
    </div>

                <h2 class="section-title" i18n>Popular</h2>
    <div class="card-grid2">
      <div
        *ngFor="let actress of avbaseIndexData.popular_talents"
        class="actress-card"
        (click)="cardClick(actress.actors[0].name)"
      >
        <img
          [src]="actress.actors[0].image_url"
          [alt]="actress.actors[0].name"
          class="avatar-img"
        />
        <div class="title">{{ actress.actors[0].name }}</div>
      </div>
    </div>


            <h2 class="section-title" i18n>Release Today</h2>
    <div class="poster-grid">
      <div
        class="poster-card"
        *ngFor="let work of avbaseIndexData.works"
        (click)="posterClick(work.work_id)"
      >
        <div class="poster-image-wrapper">
          <img
            [src]="work.products[0].image_url"
            [alt]="work.title"
            class="poster-image"
          />
          <div class="overlay">
            <div class="title">{{ work.title }}</div>
          </div>
        </div>
      </div>
    </div>


  </mat-tab>

  <mat-tab label="Fanza">
    <h2 class="section-title" i18n>Monthly Ranking of Actress</h2>

    <div class="hover-container">
      <!-- 卡片网格 -->
      <div class="card-grid">
        <div
          *ngFor="let actress of actressList"
          class="actress-card"
          (click)="cardClick(actress.name)"
        >
          <div class="rank-badge">{{ actress.rank }}</div>
          <img [src]="actress.image" [alt]="actress.name" class="avatar-img" />
          <div class="title">{{ actress.name }}</div>
        </div>
      </div>
    </div>

    <button
      mat-icon-button
      class="floating-button"
      (click)="nextPage()"
      [disabled]="currentPage === 5"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button
      mat-icon-button
      class="floating-button"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <h2 class="section-title" i18n>Ranking of Works</h2>
    <mat-form-field appearance="outline" class="search-box">
      <mat-label i18n>Ranking Type</mat-label>
      <mat-select
        [(ngModel)]="workRankingType"
        (ngModelChange)="onWorkRankingTypeChange($event)"
      >
        <mat-select-trigger>
          {{
            workRankingType === RankingTypeOfWorks.Daily
              ? "Daily"
              : workRankingType === RankingTypeOfWorks.Weekly
              ? "Weekly"
              : workRankingType === RankingTypeOfWorks.Monthly
              ? "Monthly"
              : "Select Type"
          }}
        </mat-select-trigger>

        <mat-option [value]="RankingTypeOfWorks.Daily" i18n>Daily</mat-option>
        <mat-option [value]="RankingTypeOfWorks.Weekly" i18n>Weekly</mat-option>
        <mat-option [value]="RankingTypeOfWorks.Monthly" i18n
          >Monthly</mat-option
        >
      </mat-select>
    </mat-form-field>

    <button
  mat-icon-button
  class="floating-button"
  (click)="nextWorkPage()"
  [disabled]="workList.length < 10"
>
  <mat-icon>chevron_right</mat-icon>
</button>
<button
  mat-icon-button
  class="floating-button"
  (click)="prevWorkPage()"
  [disabled]="currentWorkPage === 1"
>
  <mat-icon>chevron_left</mat-icon>
</button>

    <div class="poster-grid">
      <div
        class="poster-card"
        *ngFor="let work of workList"
        (click)="posterClick(work.number)"
      >
        <div class="poster-image-wrapper">
          <img [src]="work.image" [alt]="work.title" class="poster-image" />
          <div class="overlay">
            <div class="title">{{ work.rank }}.{{ work.title }}</div>
          </div>
        </div>
      </div>
    </div>

    <button
  mat-icon-button
  class="floating-button"
  (click)="nextWorkPage()"
  [disabled]="workList.length < 10"
>
  <mat-icon>chevron_right</mat-icon>
</button>
<button
  mat-icon-button
  class="floating-button"
  (click)="prevWorkPage()"
  [disabled]="currentWorkPage === 1"
>
  <mat-icon>chevron_left</mat-icon>
</button>
  </mat-tab>
</mat-tab-group>
