.overlayy {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  color: white;
  padding-left: 0.5rem;
  transform: translateY(10%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  line-height: 1.2;
  text-align: left;
}

.unsubscribe-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding-right: 0.5rem;
}

.unsubscribe-btn:hover {
  transform: scale(1.1);
}

.spacer {
  flex: 1;
}


.poster-grid {
  padding: 1rem;
}
