@use '@angular/material' as mat;

@include mat.core();

$test-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$azure-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($test-theme);
  --app-background: #faf9fd;

}
