.table-container {
  width: 100%;
  overflow-x: auto; /* 防止超出屏幕 */
}

.mat-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mat-header-row,
.mat-row {
  display: flex;
}

.mat-header-cell,
.mat-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 列比例 */
.indexer-column {
  flex: 3; /* 10% */
}
.title-column {
  flex: 20; /* 50% */
}
.size-column {
  flex: 3; /* 20% */
}
.seeders-column {
  flex: 1; /* 10% */
}
.publishDate-column {
  flex: 3; /* 10% */
}

/* 行状态颜色 */
.loading {
  background-color: #ffeb3b;
}
.success {
  background-color: #4caf50;
}
.error {
  background-color: #f44336;
}

mat-cell.indexer-column:hover,
mat-cell.title-column:hover {
  cursor: pointer;
}

@media (max-width: 768px) {

  .indexer-column {
    display: none;
  }

  .seeders-column {
    max-width: 8ch;
    white-space: nowrap;
  }
}
