<mat-card class="resume-items-card">
  <mat-card-header>
    <mat-card-title>Continue Watching</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="items-grid" *ngIf="resumeItems.length > 0;">
<ng-container *ngFor="let item of resumeItems">
  <a
    *ngIf="!item.hideImage"
    [href]="item.indexLink"
    target="_blank"
    class="item-card"
  >
    <div class="image-wrapper">
      <img
        loading="lazy"
        class="item-image"
        [src]="item.primary_local || item.primary"
        alt="{{ item.name }}"
        (error)="onImageError($event, item)"
      />
      <div class="hover-name">{{ item.name }}</div>
    </div>
  </a>
</ng-container>
    </div>
  </mat-card-content>
</mat-card>