<div class="poster-grid">
  <div
    class="poster-card"
    *ngFor="let movie of keywordFeeds"
    (click)="onMovieCardClick(movie)"
  >
    <div class="poster-image-wrapper">
      <img
        [src]="movie.img"
        [alt]="movie.keyword"
        class="poster-image"
        loading="lazy"
      />
      <div class="overlayy">
        <div
          class="movie-title"
          matTooltip="{{ movie.keyword }} - {{ movie.actors }}"
        >
          {{ movie.keyword }} - {{ movie.actors }}
        </div>
        <span class="spacer"></span>
        <button
          class="unsubscribe-btn"
          (click)="onUnsubscribeClick($event, movie)"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
