<mat-card class="actress-card">
  <div class="actress-content-wrapper">
    <!-- 左侧头像 -->
    <div class="avatar-section">
      <img
        [src]="actressData.avatar_url"
        alt="Actress Avatar"
        class="actress-avatar-img"
      />
    </div>

    <!-- 右侧信息 -->
    <div class="info-section">
      <!-- 名字 -->
      <h3 class="actress-name">{{ name || "N/A" }}</h3>

      <!-- 社交媒体标题 + 图标 -->
      <div class="social-title">Social Media</div>
      <div class="social-icons">
        <div *ngFor="let platform of actressData.social_media">
          <a
            *ngIf="platform.platform !== 'RSS'"
            [href]="platform.link"
            target="_blank"
          >
            <button mat-icon-button>
              <i [ngClass]="getFaIcon(platform.platform)"></i>
            </button>
          </a>
        </div>
      </div>

      <!-- 个人信息 -->
      <div class="actress-info">
        <p *ngIf="actressData.aliases?.length">
          <strong>Alias:</strong> {{ actressData.aliases.join(', ') }}
        </p>
        <p *ngIf="actressData.hobby">
          <strong>Hobbies:</strong> {{ actressData.hobby }}
        </p>
        <p *ngIf="actressData.birthday">
          <strong>Birth Date:</strong> {{ actressData.birthday }}
        </p>
        <p *ngIf="actressData.height">
          <strong>Height:</strong> {{ actressData.height }} cm
        </p>
        <p *ngIf="actressData.bust">
          <strong>Bust:</strong> {{ actressData.bust }} cm
        </p>
        <p *ngIf="actressData.waist">
          <strong>Waist:</strong> {{ actressData.waist }} cm
        </p>
        <p *ngIf="actressData.hip">
          <strong>Hip:</strong> {{ actressData.hip }} cm
        </p>
        <p *ngIf="actressData.cup">
          <strong>Cup:</strong> {{ actressData.cup }}
        </p>
        <p *ngIf="actressData.prefectures">
          <strong>Prefectures:</strong> {{ actressData.prefectures }}
        </p>
        <p *ngIf="actressData.blood_type">
          <strong>Blood Type:</strong> {{ actressData.blood_type }}
        </p>
      </div>

      <!-- 操作按钮 -->
      <div class="action-icons">
        <button
          mat-icon-button
          (click)="subscribeActress(actressData.avatar_url)"
          matTooltip="Add to Feed"
        >
          <i class="fas fa-rss"></i>
        </button>
        <button
          mat-icon-button
          (click)="collectActress(actressData.avatar_url)"
          matTooltip="Add to Collection"
        >
          <i class="fas fa-heart"></i> 
        </button>
      </div>
    </div>
  </div>
</mat-card>