<mat-card class="resume-items-card">
  <mat-card-header>
    <mat-card-title>Continue Watching</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="items-grid" *ngIf="resumeItems.length > 0;">
<a *ngFor="let item of resumeItems" [href]="item.indexLink" target="_blank" class="item-card">
  <div class="image-wrapper">
    <img class="item-image" [src]="item.primary" alt="{{ item.name }}">
    <div class="hover-name">{{ item.name }}</div>
    <div class="progress-bar">
      <div class="progress-fill" [style.width.%]="item.PlayedPercentage"></div>
    </div>
  </div>
</a>
    </div>
  </mat-card-content>
</mat-card>