<div class="actress-list">
  <h2>Actress Feed</h2>

  <div *ngIf="ActressList.length > 0; else noData">
    <ul>
      <li *ngFor="let actress of ActressList">
        <div class="actress-info" (click)="onClick(actress.title)">
          <img [src]="actress.url" alt="Actress Avatar" />
          <h3>{{ actress.title }}</h3>
          <button
            class="unsubscribe-btn"
            (click)="onUnsubscribeClick($event, actress)"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noData>
    <p>Empty.</p>
  </ng-template>
</div>
